<!DOCTYPE html>
<html>
  <head>
    <title>Geek OP</title>
    <link rel="stylesheet" th:href="@{/css/episode.css}" />
    <link rel="shortcut icon" href="https://i.ibb.co/TggmBSx/logo.png" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <header>
      <div class="imageLogo">
        <a href="/"><img src="https://i.ibb.co/TggmBSx/logo.png" alt="Logo do Site"></a>
        <a href="/">Arcos</a>
        <a href="#">Cápitulos</a>
        <a href="#">Análise</a>
      </div>
      <div class="containerIcons" th:each="anime : ${animes}">
        <a href="/animes">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
          </svg>
        </a>
        <a href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
          </svg>
        </a>
        <a th:href="${anime.link}" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
          </svg>
        </a>
        <img src="https://i.ibb.co/XXyL4c0/IMG-20231202-WA0050.jpg" alt="Foto de Perfil">
      </div>
    </header>

    <main th:each="anime : ${animes}">
      <div class="container-iframe">
        <iframe th:src="${anime.link}" frameborder="0"></iframe>
        <h1 th:text="${anime.titulo}"></h1>
      </div>
      <div class="container-episodes">
        <a href="https://www.youtube.com/watch?v=DRl_HL293Dw" target="_blank"><img src="https://images6.alphacoders.com/122/thumbbig-1226543.webp" alt="Imagem de One Piece" /></a>
        <a href="https://www.youtube.com/watch?v=dGVSe3ZGAHw&pp=ygURbHVmZnkgeCBjcm9jb2RpbGU%3D" target="_blank"><img src="https://w0.peakpx.com/wallpaper/393/157/HD-wallpaper-monkey-d-luffy-crocodile-one-piece-art-poster.jpg" alt="Imagem de One Piece" /></a>
        <a href="https://www.youtube.com/watch?v=YjDlBTac_sk" target="_blank"><img src="https://i.ytimg.com/vi/TAGdkRji-HU/maxresdefault.jpg" alt="Imagem de One Piece" /></a>
        <div class="line"></div>
      </div>
    </main>
  </body>
</html>
