<!DOCTYPE html>
<html>
  <head>
    <title>Geek OP</title>
    <link rel="stylesheet" th:href="@{/css/episode.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <header>
      <div>
      </div>
      <div>
        <a href="/">Arcos</a>
        <a href="#">Cápitulos</a>
        <a href="#">Análise</a>
      </div>
      <div></div>
    </header>

    <main th:each="anime : ${animes}">
      <div class="container-iframe">
        <iframe th:src="${anime.link}" frameborder="0"></iframe>
        <h1 th:text="${anime.titulo}"></h1>
      </div>
      <div class="container-episodes">
        <img th:src="${anime.imagem}" alt="Imagem do Episódio" />
        <img th:src="${anime.imagem}" alt="Imagem do Episódio" />
        <img th:src="${anime.imagem}" alt="Imagem do Episódio" />
        <div class="line"></div>
      </div>
    </main>
  </body>
</html>
