<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Formulário de Anime</title>
</head>
<body>
<h2>Formulário de Anime</h2>
<form th:action="@{/animes/form}" method="post" th:object="${anime}">
    <label>Título: <input type="text" th:field="*{titulo}" /></label><br/>
    <label>Sinopse: <input type="text" th:field="*{sinopse}" /></label><br/>
    <label>Link: <input type="text" th:field="*{link}" /></label><br/>
    <label>Imagem: <input type="text" th:field="*{imagem}" /></label><br/>
    <input type="submit" value="Salvar"/>
</form>
<a th:href="@{/animes}">Voltar para a Lista de Animes</a>

</body>
</html>