<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/list.css}" />
    <title>Lista de Episódios</title>
  </head>
  <body>
    <section>
        <h2>Lista de Episódios:</h2>
        <div th:each="anime : ${animes}" class="card-anime">
            <img th:src="${anime.imagem}" alt="Imagem do Episódio">
            <h1 th:text="${anime.titulo}"></h1>
            <p th:text="${anime.sinopse}"></p>
            <a th:href="@{/animes/edit/{id}(id=${anime.id})}">Editar</a>
            <a th:href="@{/animes/delete/{id}(id=${anime.id})}">Excluir</a>
        </div>
    </section>
  </body>
</html>
