<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/list.css}" />
    <link rel="shortcut icon" href="https://i.ibb.co/TggmBSx/logo.png" type="image/x-icon">
    <title>Lista de Episódios</title>
  </head>
  <body>
    <h1>Lista de Vídeos</h1>
    <div th:each="anime : ${animes}" class="card">
      <div class="header">
        <img th:src="${anime.imagem}" alt="Imagem do Vídeo">
      </div>
      <div class="info">
        <p th:text="${anime.titulo}" class="title"></p>
        <p th:text="${anime.sinopse}"></p>
      </div>
      <div class="footer">
        <p class="tag">#GPS DEV</p>
        <a th:href="@{/animes/episode/{id}(id=${anime.id})}" class="action">Assistir</a>
      </div>
    </div>
  </body>
</html>
