@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Anton&family=Bebas+Neue&family=Bree+Serif&family=Kanit&family=Oswald:wght@400;500&family=Passion+One&display=swap');

@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/Gagalin-Regular.otf') format('woff2'),
         url('../fonts/Gagalin-Regular.otf') format('woff');
}
  

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F2F2F2;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
}

.container-logo img {
    width: 100px;
    height: 100px;
}

.container-links {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

a {
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 35px;
}

a:hover {
    text-decoration: underline;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container-botoes {
    display: flex;
    gap: 30px;
    align-items: center;
}

.container-botoes img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.container-forum-fora {
    background-color: #0CC0DF;
    width: 250px;
}

.container-forum-dentro {
    background-color: black;
    padding: 12px;
    margin-right: 7px;
    margin-left: -10px;
    margin-top: 7px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}

.container-forum-dentro h1 {
    font-family: 'Gagalin';
    font-size: 40px;
    background-color: black;
}

/* FIM DO HEADER */

/* BODY */

body {
    height: 100vh;
    width: 100vw;
}

/* FIM DO BODY */

/* MAIN */

main {
    text-align: center;
}

.frase-principal {
    margin-top: -20px;
    background-image: url('../images/animes.jpg');
    background-size: cover;
}

main h1 {
    font-family: 'Gagalin';
    font-size: 100px;
    background-color: transparent;
}

.botoes-main {
    margin-top: 15px;
}

.botoes-main a {
    font-family: 'Gagalin';
    padding: 15px;
    font-size: 30px;
}

.btn-assistir {
    background-color: black;
    color: white;
}

.btn-assistir:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btn-ler {
    background-color: #0CC0DF;
    color: rgb(0, 0, 0);
    border-radius: 15px;
}

.btn-ler:hover {
    background-color: #000000;
    color: #0CC0DF;
    border-radius: 15px;
}