* {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F2F2F2;
}

body {
    padding: 30px;
}

iframe {
    width: 560px;
    height: 315px;
}

/* card */

.card-anime {
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
}

.card-anime img {
    width: 350px;
    height: 200px;
}

.btn-acoes {
    display: flex;
    justify-content: center;
    gap: 30px;
}